#black_board {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  user-select: none;

  [menu_item] {
    cursor: pointer;
  }

  #controls {
    height: 40px;
  }

  canvas {
    max-width: 100%;
    border: 1px black solid;
  }
}