#crabble {

  canvas#board {
    margin: 5px;
    border: 1px #ccc solid;
    cursor: default;
  }

  #board.woboy {
    cursor: move;
  }

  #thing * {
    vertical-align: middle;
  }

  #wup {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 300px;
  }

  #players_list {
    padding: 5px;

    .active {
      font-weight: bold;
    }
  }

}