#dress_up {

  div {
    margin-top: 2px;
  }

  #holy_cows * {
    -webkit-user-select: none;
    user-select: none;
  }

  .emu_dropdown {
    width: 100%;
  }

  #example_container {
    margin-top: 15px;

    input {
      padding: 5px;
      width: 73%;
    }
  }

  #example_wrapper {
    padding: 5px;
    border: 1px black solid;

    #example_username {
      font-weight: bold;
    }
  }

  div label {
    display: inline-block;
    width: 120px;
  }

  select {
    width: 200px;
  }

  #ul_example {
    border: 1px #ccc solid;
    padding: 5px;
  }
}