#dress_up {
  padding: 20px;

  div {
    margin-top: 2px;
  }

  #example_container {
    margin-top: 15px;
  }

  div label {
    display: inline-block;
    width: 120px;
  }

  select {
    width: 200px;
  }
}