* {
  box-sizing: border-box;
  word-wrap: break-word;
}

*[readonly] {
  background: #ddd;
}

.lights_out {
  background: black;
  color: white;
}

.ui-dialog .ui-button {
  outline: none !important;
}

html {
  font-family: Verdana, Arial, sans-serif;
}

input {
  border: 1px #ccc solid;
}

body {
  margin: 0;
}

div.field_container {
  margin-top: 5px;
  margin-bottom: 5px;
}

table.wupfindtable {
  width: 100%;
  border-collapse: collapse;

  thead tr {
    background: cornflowerblue;
    color: white;
  }

  tr:nth-child(even) {
    background: lightgrey;
  }

  th {
    font-weight: normal;
    text-align: left;
  }

  td, th {
    padding: 3px;
    border: 1px #ccc solid;
  }

  &.center_content {
    th, td {
      text-align: center;
    }
  }
}

.context-menu-item {
  border-bottom: 1px #ccc solid;
  padding-top: 10px;
  padding-bottom: 10px;
}

.context-menu-item:last-child {
  border-bottom: none;
}

.flat-slider {
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.flat-slider.ui-corner-all,
.flat-slider .ui-corner-all {
  border-radius: 0;
}

.flat-slider.ui-slider {
  border: 0;
  background: #f7d2cc;
  border-radius: 7px;
}

.flat-slider.ui-slider-horizontal {
  height: 6px;
}

.flat-slider.ui-slider-vertical {
  height: 15em;
  width: 6px;
}

.flat-slider .ui-slider-handle {
  width: 20px;
  height: 20px;
  background: #38b11f;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.flat-slider.ui-slider-horizontal .ui-slider-handle {
  top: 50%;
  margin-top: -10px;
}

.flat-slider.ui-slider-vertical .ui-slider-handle {
  left: 50%;
  margin-left: -10px;
}

.flat-slider .ui-slider-handle:hover {
  opacity: .8;
}

.flat-slider .ui-slider-range {
  border: 0;
  border-radius: 7;
  background: #f99;
}

.flat-slider.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 6px;
}

.flat-slider.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 6px;
}