* {
  box-sizing: border-box;
  word-wrap: break-word;
}

.ui-dialog .ui-button {
  outline: none !important;
}

html {
  font-family: Verdana, Arial, sans-serif;
}

input {
  border: 1px #ccc solid;
}

body {
  margin: 0;
}

div.field_container {
  margin-top: 5px;
  margin-bottom: 5px;
}

table.wupfindtable {
  width: 100%;
  border-collapse: collapse;

  thead tr {
    background: cornflowerblue;
    color: white;
  }

  tr:nth-child(even) {
    background: lightgrey;
  }

  th {
    font-weight: normal;
    text-align: left;
  }

  td, th {
    padding: 3px;
    border: 1px #ccc solid;
  }
}

.context-menu-item {
  border-bottom: 1px #ccc solid;
  padding-top: 10px;
  padding-bottom: 10px;
}

.context-menu-item:last-child {
  border-bottom: none;
}