#login {
  margin-left: auto;
  margin-right: auto;
  width: 190px;
  margin-top: 20px;
  border: 1px #ccc solid;
  padding: 10px;

  .heading {
    font-weight: bold;
  }

  label {
    width: 150px;
    display: inline-block;
  }

  div.field_container {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #status {
    visibility: hidden;
  }

  #create_account {
    display: none;
  }
}