#tom_clancy {
  position: relative;

  &.lights_out {
	  background: black;
  }

  #slash_users {
    position: absolute;
    right: 5px;
    top: 0;
    display: none;
    z-index: 100;
  }

  #footer {
    width: 100%;
    background: #ccc;
  }

  #room_names {
    padding-top: 1px;
    padding-left: 5px;
    user-select: none;

    .room_tab {
      font-size: 12px;
      margin-right: 3px;
      max-width: 800px;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      cursor: pointer;
      background: #0086b3;
      color: #ccc;
      border: 1px black solid;
      display: inline-block;
      vertical-align: middle;
      padding: 2px 4px;
    }

    .room_tab.active {
      background: orange;
      color: black;
      border-width: 2px;
      border-radius: 5px;
    }

    @keyframes fade_color {
      from {
        background: #0086b3;
      }

      to {
        background: red;
      }
    }

    .room_tab.blink {
      animation-duration: 2.25s;
      animation-name: fade_color;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }

  #top {
    height: 26px;
    background: lightblue;
    position: relative;

    #button_jar {
      position: absolute;
      right: 5px;
      top: 0;
    }
  }

  [menu_item] {
    vertical-align: middle;
    margin-right: 2px;
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
  }

  [menu_item].active {
    color: orange;
  }

  #wup {
    display: flex;
    height: ~"calc(100% - 45px)";

    #left_pane {
      width: ~"calc(100% - 260px)";
    }

    #left_pane.no_user_pane {
      width: 100%;
    }

    #right_pane {
      width: 260px;
    }
    #right_pane.no_user_pane {
      display: none;
    }

    #left_pane,
    #right_pane {
      vertical-align: top;
      display: inline-block;
      height: 100%;
    }
  }

  #footer_wrapper {
    width: 100%;
    border-top: 1px #ccc solid;
    background: #ccc;

    #footer {
      #composer {
        padding: 3px;
        border-radius: 5px;
        width: ~"calc(100% - 100px)";
        height: 35px;
        vertical-align: middle;
      }
      img {
        vertical-align: middle;
        cursor: pointer;
      }
    }
  }

}
