#tom_clancy {

  #layout_layout_panel_top .w2ui-panel-content {
    background: lightblue;
  }

  #footer {
    width: 100%;
    background: #ccc;
  }

  #rooms {
    padding-top: 4px;
    background: transparent;

    .w2ui-tb-caption {
      font-size: 1.25em;
      font-weight: 700;
    }
  }

  #top {
    position: relative;

    span.heading {
      cursor: pointer;
      position: absolute;
      top: 5px;
      left: 5px;
    }

    #button_jar {
      position: absolute;
      right: 5px;
      top: 0;
    }

    #logout {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }

  img[menu_item] {
    vertical-align: middle;
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
  }

  img[menu_item].active {
    background: orange;
  }

  #left_pane,
  #right_pane {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    height: 100%;
  }

}