#users {
  height: ~"calc(100% - 150px)";


  .rl_rank {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;

    > div {
      height: 32px;
      width: 32px;
    }
    
    .radish {
      background: url('../images/rl_ranks/radish.png')
    }
    .rank_0 {
      background: url(../images/rl_ranks/s4-0.png)
    }
    .rank_1 {
      background: url(../images/rl_ranks/s4-1.png)
    }
    .rank_2 {
      background: url(../images/rl_ranks/s4-2.png)
    }
    .rank_3 {
      background: url(../images/rl_ranks/s4-3.png)
    }
    .rank_4 {
      background: url(../images/rl_ranks/s4-4.png)
    }
    .rank_5 {
      background: url(../images/rl_ranks/s4-5.png)
    }
    .rank_6 {
      background: url(../images/rl_ranks/s4-6.png)
    }
    .rank_7 {
      background: url(../images/rl_ranks/s4-7.png)
    }
    .rank_8 {
      background: url(../images/rl_ranks/s4-8.png)
    }
    .rank_9 {
      background: url(../images/rl_ranks/s4-9.png)
    }
    .rank_10 {
      background: url(../images/rl_ranks/s4-10.png)
    }
    .rank_11 {
      background: url(../images/rl_ranks/s4-11.png)
    }
    .rank_12 {
      background: url(../images/rl_ranks/s4-12.png)
    }
    .rank_13 {
      background: url(../images/rl_ranks/s4-13.png)
    }
    .rank_14 {
      background: url(../images/rl_ranks/s4-14.png)
    }
    .rank_15 {
      background: url(../images/rl_ranks/s4-15.png)
    }
    .rank_16 {
      background: url(../images/rl_ranks/s4-16.png)
    }
    .rank_17 {
      background: url(../images/rl_ranks/s4-17.png)
    }
    .rank_18 {
      background: url(../images/rl_ranks/s4-18.png)
    }
    .rank_19 {
      background: url(../images/rl_ranks/s4-19.png)
    }
  }

  #room_name {
    background: orange;
    color: black;
    border: 2px black solid;
    border-right: none;
    padding: 5px;
    max-height: 106px;
    user-select: none;
    overflow-y: hidden;
  }

  #leave_room_wrapper {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;

    #leave_room {
      font-weight: bold;
    }
  }

  #users_list {
    height: 100%;
    overflow-y: auto;

    .user {
      min-height: 32px;
      position: relative;
      padding: 5px;
      border-bottom: 1px #ccc solid;

      .status {
        font-style: italic;
        font-size: 80%;
        text-align: right;
      }
      .username {
        width: 165px;
        vertical-align: middle;
        display: inline-block;
      }

      .warn_bar {
        width: 100%;
        font-size: 18px;
      }

      .ping {
        position: absolute;
        font-size: 12px;
        top: 0;
        right: 5px;
      }

      .away {
        position: absolute;
        font-size: 12px;
        top: 14px;
        right: 5px;
      }
    }

    .user.idle {
      opacity: 0.33;
    }
  }

}