#users {
  height: 100%;
  position: relative;

  #users_list {
    height: ~"calc(100% - 50px)";

    .user {
      padding: 5px;
      font-size: 1.25em;
      border-bottom: 1px #ccc solid;
    }
  }

  #footer {
    position: absolute;
    bottom: 5px;
    font-size: 0;

    img {
      cursor: pointer;
    }
  }
}