#users {
  height: 100%;
  position: relative;

  #users_list {
    height: ~"calc(100% - 50px)";
    overflow-y: auto;

    .user {
      position: relative;
      padding: 5px;
      border-bottom: 1px #ccc solid;

      .ping {
        position: absolute;
        font-size: 12px;
        top: 0;
        right: 5px;
      }
    }

    .user.idle {
      opacity: 0.75;
    }
  }

  #footer_wrapper {
    width: 100%;
    border-top: 1px #ccc solid;
    background: #ccc;
    bottom: 6px;
    position: absolute;

    #footer {
      font-size: 0;

      img {
        cursor: pointer;
      }
    }
  }

}