#yownet {
  .team_row {
    background: white;
    color: black;
    border: 1px #ccc solid;
    font-weight: bold;
  }

  #messages {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px #ccc solid;
    height: 300px;
  }

  #composer {
    width: 100%;
  }

  #game_name {

  }

  #game_wrapper {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}